<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
</head>

<body>

    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/logo2.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
    
                <li class="menu-item has-submenu ">
                    <a class="menu-link" href="page-form-product-1.html"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">category</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/categories">Categories</a>
                     
                    </div>
                </li>
    
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/products">Add Products </a>
                        <a href="/admin/productList">Product List</a>
                        
                        
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-person"></i>
                        <span class="text">Account</span>
                    </a>
                    <div class="submenu active">
                        <a href="/admin/usersList">Users List</a>
                       
                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/orderList">Order list </a>
                        
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/salesToday"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">sales</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/addCoupon"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Coupons </span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/banner"> <i class="material-icons icon md-post_add"></i>

                        <span class="text"> Banner </span>
                    </a>
                </li>
                <!-- <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Sellers</span>
                    </a>
                    <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div>
                </li>
               
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-transactions-1.html"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">Transactions</span>
                    </a>
                    <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                    </div>
                </li>
               
                <li class="menu-item">
                    <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i>
                        <span class="text">Brands</span> </a>
                </li> -->
               
            </ul>
            <hr>
            <!-- <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
               
            </ul> -->
            <br>
            <br>
        </nav>
    </aside>
    <%- include('../partials/admin-partials')%>
    <main class="main-wrap">
       
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Add  coupon </h2>
                    
                </div>
                
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <form action="/admin/addCoupon" method="post" >
                                <div class="mb-4">
                                    <label for="product_name"  class="form-label name">Name</label>
                                    <input type="text" id="name" name="name" id="name" placeholder="Type here" class="form-control" id="product_name" />
                                </div>

                                <div class="mb-4">
                                    <label for="product_name"  class="form-label name">start Date</label>
                                    <input type="date"  id="startingDate" class="form-control" name="startDate" required>
                                        
                                </div>
                                <div class="mb-4">
                                    <label for="product_name"  class="form-label name">Expire Date</label>
                                    <input type="date" id="expiringDate" class="form-control" name="expireDate" required>
                                        
                                </div>
                                <div class="mb-4">
                                    <label for="product_name"  class="form-label name">offer price</label>
                                    <input type="number" class="form-control" name="offerPrice" required>
                                        
                                </div>

                                <div class="mb-4">
                                    <label for="product_name"  class="form-label name">Minimum purchase</label>
                                    <input type="number" class="form-control" name="minPrice" required>
                                        
                                </div>                                
                               
                               <p id="err-msg"></p>
                               
                                <div class="d-grid">
                                    <button onclick="validate();" onpointerup="validateForm();"  class="btn btn-primary">create coupon</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-9">
                            <div class="table-responsive">
                               
                            </div>
                        </div> <!-- .col// -->
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-categories.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:21 GMT -->
</html>


  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.js"></script>

<script>
    const startingDateInput = document.getElementById("startingDate");
    const todayDate = new Date().toISOString().slice(0, 10);
    document.getElementById('startingDate').value = todayDate
    const todayDateObj = new Date(todayDate)
    function validate(){
        
        const sDate = document.getElementById('startingDate').value
        const eDate = document.getElementById('expiringDate').value
        const sDateObj = new Date(sDate);
        const eDateObj = new Date(eDate)
        if (sDateObj > eDateObj){
            Swal.fire({
                    title: 'Error!',
                    text: 'expiry date should be after the starting date',
                    icon: 'warning',
                    timer: 5000
                })
            event.preventDefault()
        }
        if(sDateObj<todayDateObj){
            Swal.fire({
                    title: 'Error!',
                    text: 'Starting date should be abouve todays date',
                    icon: 'warning',
                    timer: 5000
                })
            
            event.preventDefault()
        }
    }

    function validateForm(){
        
        document.getElementById('err-msg').innerHTML = ''
        let name = document.getElementById('name').value;
        const nameRegex = /^(?!\s*$).+/;

        if(nameRegex.test(name)){
            document.getElementById('name').style.borderColor = 'white'
        }else{  
          document.getElementById('name').style.borderColor = 'red'
          document.getElementById('name').style.borderWidth = '1px'
          document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Name error'
          //alert("Name Eroor 1:Start with capital letter 2:No white spaces 3:No Special symbols")
          event.preventDefault()
        }

       
    }
  </script>