<style>
    body {
        color: #999;
        background: #fafafa;
        font-family: 'Roboto', sans-serif;
    }
    .form-control {
        min-height: 41px;
        box-shadow: none;
        border-color: #e6e6e6;
    }
    .form-control:focus {
        border-color: #00c1c0;
    }
    .form-control, .btn {        
        border-radius: 3px;
    }
    .signup-form {
        width: 425px;
        margin: 0 auto;
        padding: 30px 0;
    }
    .signup-form h2 {
        color: #333;
        font-weight: bold;
        margin: 0 0 25px;
    }
    .signup-form form {
        margin-bottom: 15px;
        background: #fff;
        border: 1px solid #f4f4f4;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 40px 50px;
    }
    .signup-form .form-group {
        margin-bottom: 20px;
    }
    .signup-form label {
        font-weight: normal;
        font-size: 14px;
    }
    .signup-form input[type="checkbox"] {
        position: relative;
        top: 1px;
    }    
    .signup-form .btn, .signup-form .btn:active {        
        font-size: 16px;
        font-weight: bold;
        background: #00c1c0 !important;
        border: none;
        min-width: 140px;
    }
    .signup-form .btn:hover, .signup-form .btn:focus {
        background: #00b3b3 !important;
    }
    .signup-form a {
        color: #00c1c0;
        text-decoration: none;
    }
    .signup-form a:hover {
        text-decoration: underline;
    }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <link rel="stylesheet" href="//cdn.tutorialjinni.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.tutorialjinni.com/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="//g.tutorialjinni.com/mojoaxel/bootstrap-select-country/dist/css/bootstrap-select-country.min.css" />
    

</head>

    <body>
    <div class="signup-form">
       
        <form action="/address?status=<%=status%>" method="post">
       
            <h2>Add NEW ADDRESS</h2>
            <div class="form-group">
                <select name="country" class="selectpicker countrypicker" data-flag="true" data-default="IN"></select>
            </div>
            <div class="form-group">
                <input id="name" type="text" class="form-control" name="name" placeholder="Full Name" required="required">
            </div>
            <div class="form-group">
                <input id="number"   type="number" class="form-control" name="number" placeholder="Mobile Number" required="required">
            </div>
            <div class="form-group">
                <input id="altnumber"   type="number" class="form-control" name="altNumber" placeholder="Alternative Number" required="required">
            </div>
            <div class="form-group">
                <input id="pincode" type="number" class="form-control" name="pinCode" placeholder="Pin code" required="required">
            </div>
            <div class="form-group">
                <input id="house"   type="text" class="form-control" name="house" placeholder="Flat, House no., Building, Company, Apartment" required="required">
            </div>
            
            <div class="form-group">
                <input id="area"   type="text" class="form-control" name="landmark" placeholder="Landmark" required="required">
            </div>
            <div class="form-group">
                <input id="town"   type="text" class="form-control" name="town" placeholder="Town/city" required="required">
            </div>
            <div class="form-group">
                <input id="state"   type="text" class="form-control" name="state" placeholder="State" required="required">
            </div>
            <div class="form-group">
                <button type="submit" onclick="validate()" class="btn btn-primary btn-lg">COUNTINUE</button>
                <p id="err-msg"></p>
            </div>
        </form>
    
        
</div>

<script src="//cdn.tutorialjinni.com/jquery/3.6.1/jquery.min.js"></script>
<script src="//cdn.tutorialjinni.com/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//cdn.tutorialjinni.com/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script src="//g.tutorialjinni.com/mojoaxel/bootstrap-select-country/dist/js/bootstrap-select-country.min.js"></script>


<script>
    function validate(){
        document.getElementById('err-msg').innerHTML = ''
        let name = document.getElementById('name').value;
        const nameRegex = /^(?!\s*$).+/;
;

        if(nameRegex.test(name)){
            document.getElementById('name').style.borderColor = 'white'
        }else{  
          document.getElementById('name').style.borderColor = 'red'
          document.getElementById('name').style.borderWidth = '1px'
          document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Name error'
          //alert("Name Eroor 1:Start with capital letter 2:No white spaces 3:No Special symbols")
          event.preventDefault()
        }
        
        const numberRegex =/^\d{10}$/

        let number = document.getElementById('number').value;
        if(numberRegex.test(number)){
            document.getElementById('number').style.borderColor = 'white'
        }else{
          document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Number  error'
          document.getElementById('number').style.borderColor = 'red'
          document.getElementById('number').style.borderWidth = '1px'
          //alert('Password Error 1:Minimum 8 charecters 2:use charecters and number 3:no white spaces')
          event.preventDefault()
        }

        const altnumberRegex = /^\d{10}$/


        let altnumber = document.getElementById('altnumber').value;
        if(altnumberRegex.test(altnumber)){
            document.getElementById('altnumber').style.borderColor = 'white'
        }else{
        document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Alt Number error'
        document.getElementById('altnumber').style.borderColor = 'red'
        document.getElementById('altnumber').style.borderWidth = '1px'
        //alert('Password Error 1:Minimum 8 charecters 2:use charecters and number 3:no white spaces')
        event.preventDefault()
        }

        const pincodeRegex =/^\d{6}$/


        let pincode = document.getElementById('pincode').value;
        if(pincodeRegex.test(pincode)){
            document.getElementById('pincode').style.borderColor = 'white'
        }else{
        document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Pincode  error'
        document.getElementById('pincode').style.borderColor = 'red'
        document.getElementById('pincode').style.borderWidth = '1px'
        //alert('Password Error 1:Minimum 8 charecters 2:use charecters and number 3:no white spaces')
        event.preventDefault()
        }
  

        const houseRegex = /^[A-Za-z0-9]{1,50}$/



        let house = document.getElementById('house').value;
        if(houseRegex.test(house)){
            document.getElementById('house').style.borderColor = 'white'
        }else{
        document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> House field  error'
        document.getElementById('house').style.borderColor = 'red'
        document.getElementById('house').style.borderWidth = '1px'
        //alert('Password Error 1:Minimum 8 charecters 2:use charecters and number 3:no white spaces')
        event.preventDefault()
        }

        const areaRegex =/^[A-Za-z0-9]{1,50}$/



        let area = document.getElementById('area').value;
        if(areaRegex.test(area)){
            document.getElementById('area').style.borderColor = 'white'
        }else{
        document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Area field  error'
        document.getElementById('area').style.borderColor = 'red'
        document.getElementById('area').style.borderWidth = '1px'
        //alert('Password Error 1:Minimum 8 charecters 2:use charecters and number 3:no white spaces')
        event.preventDefault()
        }


        const townRegex = /^[A-Za-z0-9]{1,50}$/



        let town = document.getElementById('town').value;
        if(townRegex.test(town)){
            document.getElementById('town').style.borderColor = 'white'
        }else{
        document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Town field  error'
        document.getElementById('town').style.borderColor = 'red'
        document.getElementById('town').style.borderWidth = '1px'
        //alert('Password Error 1:Minimum 8 charecters 2:use charecters and number 3:no white spaces')
        event.preventDefault()
        }

        const stateRegex = /^[A-Za-z0-9]{1,50}$/



        let state = document.getElementById('state').value;
        if(stateRegex.test(state)){
            document.getElementById('state').style.borderColor = 'white'
        }else{
        document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> state field  error'
        document.getElementById('state').style.borderColor = 'red'
        document.getElementById('state').style.borderWidth = '1px'
        //alert('Password Error 1:Minimum 8 charecters 2:use charecters and number 3:no white spaces')
        event.preventDefault()
        }
        
    }
  </script>