<style>
    body {
      color: #999;
      background: #fafafa;
      font-family: 'Roboto', sans-serif;
    }
    .form-control {
      min-height: 41px;
      box-shadow: none;
      border-color: #e6e6e6;
    }
    .form-control:focus {
      border-color: #00c1c0;
    }
    .form-control, .btn {        
      border-radius: 3px;
    }
    .signup-form {
      width: 425px;
      margin: 0 auto;
      padding: 30px 0;
    }
    .signup-form h2 {
      color: #333;
      font-weight: bold;
      margin: 0 0 25px;
    }
    .signup-form form {
      margin-bottom: 15px;
      background: #fff;
      border: 1px solid #f4f4f4;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 40px 50px;
    }
    .signup-form .form-group {
      margin-bottom: 20px;
    }
    .signup-form label {
      font-weight: normal;
      font-size: 14px;
    }
    .signup-form input[type="checkbox"] {
      position: relative;
      top: 1px;
    }    
    .signup-form .btn, .signup-form .btn:active {        
      font-size: 16px;
      font-weight: bold;
      background: #00c1c0 !important;
      border: none;
      min-width: 140px;
    }
    .signup-form .btn:hover, .signup-form .btn:focus {
      background: #00b3b3 !important;
    }
    .signup-form a {
      color: #00c1c0;
      text-decoration: none;
    }	
    .signup-form a:hover {
      text-decoration: underline;
    }
    </style>
    </head>
    <body>
    <div class="signup-form mt-5">
        <form action="/forgetPassword" method="post">
        <h3 class="mb-5">forgot password?</h3>
            
            <div class="form-group">
              <input id="number" type="number" class="form-control" name="number" placeholder="mobile" required="required">
            </div>
            
        
        <div class="form-group">
                <button onclick="validate()" type="submit" class="btn btn-primary btn-lg">Send Otp</button>
                
                <p id="err-msg"></p>
            </div>
            
        </form>
     
    
        
    </div>
    
    
    <script>
        function validate(){
           
      
            const phoneNumberRegex = /^\d{10}$/;
            let number = document.getElementById('number').value;
            
            if(phoneNumberRegex.test(number)){}else{
              document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Number error'
              document.getElementById('number').style.borderColor = 'red'
              //alert('Number Error')
            }
            
        }
      </script>