<style>
    body {
      color: #999;
      background: #fafafa;
      font-family: 'Roboto', sans-serif;
    }
    .form-control {
      min-height: 41px;
      box-shadow: none;
      border-color: #e6e6e6;
    }
    .form-control:focus {
      border-color: #00c1c0;
    }
    .form-control, .btn {        
      border-radius: 3px;
    }
    .signup-form {
      width: 425px;
      margin: 0 auto;
      padding: 30px 0;
    }
    .signup-form h2 {
      color: #333;
      font-weight: bold;
      margin: 0 0 25px;
    }
    .signup-form form {
      margin-bottom: 15px;
      background: #fff;
      border: 1px solid #f4f4f4;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 40px 50px;
    }
    .signup-form .form-group {
      margin-bottom: 20px;
    }
    .signup-form label {
      font-weight: normal;
      font-size: 14px;
    }
    .signup-form input[type="checkbox"] {
      position: relative;
      top: 1px;
    }    
    .signup-form .btn, .signup-form .btn:active {        
      font-size: 16px;
      font-weight: bold;
      background: #00c1c0 !important;
      border: none;
      min-width: 140px;
    }
    .signup-form .btn:hover, .signup-form .btn:focus {
      background: #00b3b3 !important;
    }
    .signup-form a {
      color: #00c1c0;
      text-decoration: none;
    }	
    .signup-form a:hover {
      text-decoration: underline;
    }
    </style>
    </head>
    <body>
    <div class="signup-form mt-5 ">
        <form action="/otpLoginPage"  method="post">
        <h4 class="mb-5">Enter registered email</h4>
            
            <div class="form-group">
              <input id="email" type="email" class="form-control mb-5" name="email" placeholder="Email Address" required="required">
            </div>
            
        
          
         
        <div class="form-group d-flex justify-content-center">
          <div>
            <button onclick="validate()" type="submit" class="btn btn-primary btn-lg ">Send Otp</button>
            <p class="text-danger" id="err-msg"></p>
                <%if(err){%>
                  <p class="text-danger"><%=err%></p>
                  <%}%>
          </div>                
                
            </div>
            
        </form>
     
    
        
    </div>
    
    
    <script>
        function validate(){
            document.getElementById('err-msg').innerHTML = ''
            let name = document.getElementById('name').value;
            const nameRegex = /^[A-Z][a-z]*$/;
            if(nameRegex.test(name)){
            }else{  
              document.getElementById('name').style.borderColor = 'red'
              document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Name error'
              //alert("Name Eroor 1:Start with capital letter 2:No white spaces 3:No Special symbols")
              event.preventDefault()
            }
            
            const passwordRegex = /^(?=.[A-Za-z])(?=.\d)[A-Za-z\d]{8,}$/;
            let password = document.getElementById('password').value;
            if(passwordRegex.test(password)){}else{
              document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Password error'
              document.getElementById('password').style.borderColor = 'red'
              //alert('Password Error 1:Minimum 8 charecters 2:use charecters and number 3:no white spaces')
              event.preventDefault()
            }
      
            const phoneNumberRegex = /^\d{10}$/;
            let number = document.getElementById('number').value;
            
            if(phoneNumberRegex.test(number)){}else{
              document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Number error'
              document.getElementById('number').style.borderColor = 'red'
              //alert('Number Error')
            }
            
        }
      </script>