<style>
    body {
        color: #999;
        background: #fafafa;
        font-family: 'Roboto', sans-serif;
    }
    .form-control {
        min-height: 41px;
        box-shadow: none;
        border-color: #e6e6e6;
    }
    .form-control:focus {
        border-color: #00c1c0;
    }
    .form-control, .btn {        
        border-radius: 3px;
    }
    .signup-form {
        width: 425px;
        margin: 0 auto;
        padding: 30px 0;
    }
    .signup-form h2 {
        color: #333;
        font-weight: bold;
        margin: 0 0 25px;
    }
    .signup-form form {
        margin-bottom: 15px;
        background: #fff;
        border: 1px solid #f4f4f4;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 40px 50px;
    }
    .signup-form .form-group {
        margin-bottom: 20px;
    }
    .signup-form label {
        font-weight: normal;
        font-size: 14px;
    }
    .signup-form input[type="checkbox"] {
        position: relative;
        top: 1px;
    }    
    .signup-form .btn, .signup-form .btn:active {        
        font-size: 16px;
        font-weight: bold;
        background: #00c1c0 !important;
        border: none;
        min-width: 140px;
    }
    .signup-form .btn:hover, .signup-form .btn:focus {
        background: #00b3b3 !important;
    }
    .signup-form a {
        color: #00c1c0;
        text-decoration: none;
    }	
    .signup-form a:hover {
        text-decoration: underline;
    }
    </style>
    </head>
    <body class="p-5">
    <div class="signup-form">
        <form action="/signup" method="post">
            <h2>Sign Up</h2>
            <div class="form-group">
                <input id="name" name="name" type="text" class="form-control" name="name" placeholder="Name" required="required">
            </div>
            <div class="form-group">
                <input id="email" name="email" type="email" class="form-control" name="email" placeholder="Email Address" required="required">
            </div>
            <div class="form-group">
                <input id="phone" name="number" type="number" class="form-control" name="number" placeholder="Phone Number" required="required">
            </div>  
            <div class="form-group">
                <input id="password" name="password" type="password" class="form-control" name="password" placeholder="Password" required="required">
            </div>
           
          
            <div class="form-group">
                <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
            </div>
            <div class="form-group">
                <button onclick="validate()" type="submit" class="btn btn-primary btn-lg">Sign up</button>
                <%if(emailExistErr){%>
                    <p >This email already exist</p>
                <%}%>
                <p id="err-msg"></p>
               
            </div>
        </form>
        <div class="text-center">Already have an account? <a href="/login">Login here</a></div>
    
        
    </div>
    
    
    <script>
        function validate(){
            
            
            document.getElementById('err-msg').innerHTML = ''
        
        let name = document.getElementById('name').value;
      
        const nameRegex = /^(?!\s*$).+/;

        if(nameRegex.test(name)){
            document.getElementById('name').style.borderColor = 'white'
        }else{  
          document.getElementById('name').style.borderColor = 'red'
          document.getElementById('name').style.borderWidth = '1px'
          document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Name error'
          //alert("Name Eroor 1:Start with capital letter 2:No white spaces 3:No Special symbols")
          event.preventDefault()
        }

        let email = document.getElementById('email').value;
       
        const emailRegex =/^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$/


        if(emailRegex.test(email)){
            document.getElementById('email').style.borderColor = 'white'
        }else{  
          document.getElementById('email').style.borderColor = 'red'
          document.getElementById('email').style.borderWidth = '1px'
          document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Email error'
          //alert("Name Eroor 1:Start with capital letter 2:No white spaces 3:No Special symbols")
          event.preventDefault()
        }

        let phone = document.getElementById('phone').value;
       
        const phoneRegex = /^\d{10}$/;


        if(phoneRegex.test(phone)){
            document.getElementById('phone').style.borderColor = 'white'
        }else{  
          document.getElementById('phone').style.borderColor = 'red'
          document.getElementById('phone').style.borderWidth = '1px'
          document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> Number error'
          //alert("Name Eroor 1:Start with capital letter 2:No white spaces 3:No Special symbols")
          event.preventDefault()
        }

        let password = document.getElementById('password').value;
        
        const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d@$!%*?&]{8,}$/



        if(passwordRegex.test(password)){
            document.getElementById('password').style.borderColor = 'white'
        }else{  
          document.getElementById('password').style.borderColor = 'red'
          document.getElementById('password').style.borderWidth = '1px'
          document.getElementById('err-msg').innerHTML = document.getElementById('err-msg').innerHTML + '<br> password error'
          //alert("Name Eroor 1:Start with capital letter 2:No white spaces 3:No Special symbols")
          event.preventDefault()
        }
            
        }
      </script>